exclude: 'docs|node_modules|migrations|.git|.tox'
default_stages: [commit]
fail_fast: true

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-json
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: pretty-format-json
        args:
          [
            "--autofix", # Autofix JSONs
          ]
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: python
        types: [ python ]
      - id: isort
        name: isort
        entry: isort
        language: python
        types: [ python ]
      - id: flake8
        name: flake8
        entry: flake8
        language: python
        types: [python]
